src/templates/views/search.pug
doctype html
html(lang='en')
	include ../partials/head
	body.view-search
		header
			.container-fluid
				nav.navbar.navbar-light
					a.navbar-brand(href='#')
						img(src='/assets/images/logo-kiu.svg', width='auto', height='30', alt='')
		main
			.container-fluid
				.row
					.col-12.searh-form__title
						h3.mb-0 Search Flights
					.col-12
						form.row.search-form
							.col-12
								.search-form__flight-type.btn-group.btn-group-toggle.btn-block.mb-3(data-toggle='buttons')
										label.btn.btn-sm.btn-outline-secondary.active
											input#option1(type='radio', name='options', autocomplete='off', checked='')
											|  Round Trip
										label.btn.btn-sm.btn-outline-secondary
											input#option2(type='radio', name='options', autocomplete='off')
											|  One-Way
										label.btn.btn-sm.btn-outline-secondary
											input#option3(type='radio', name='options', autocomplete='off')
											|  Multi-Destination
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Departure Flight
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-plane-departure
										input.form-control(type='text', placeholder='Where from?', aria-label='Username', aria-describedby='basic-addon1')
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Return Flight
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-plane-arrival
										input.form-control(type='text', placeholder='Where to?', aria-label='Username', aria-describedby='basic-addon1')
							.col-6.pr-0
								.form-group.--icon-append
									label(for='basic-url')
										small Return Flight
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-calendar-day
										input.form-control(type='text', placeholder='When from?', aria-label='Username', aria-describedby='basic-addon1')
							.col-6
								.form-group
									label(for='basic-url')
										small Return Flight
									.input-group.mb-3
										input.form-control(type='text', placeholder='When from?', aria-label='Username', aria-describedby='basic-addon1')
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Passengers and Class
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-user
										input.form-control(type='text', placeholder='1 Person, Economy', aria-label='Username', aria-describedby='basic-addon1')
										.input-group-append.--append-floating
											span#basic-addon1.input-group-text
												i.fas.fa-ellipsis-h
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Currency
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-chevron-circle-right
										input.form-control(type='text', placeholder='1 Person, Economy', aria-label='Username', aria-describedby='basic-addon1')
							.col-6.pr-0
								.form-group.--icon-append
									label(for='basic-url')
										small Promo Code
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-tag
										input.form-control(type='text', placeholder='Insert Code', aria-label='Username', aria-describedby='basic-addon1')
							.col-6.d-flex.flex-row.align-items-center
								button.btn.btn-primary.btn-block Search Flights
					.col-12
						form.row.passengers-class-form
							.col-12
								.form-group.--icon-append
									label(for='basic-url')
										small Passengers and Class
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text
												i.fas.fa-user
										input.form-control(type='text', placeholder='1 Person, Economy', aria-label='Username', aria-describedby='basic-addon1')
										.input-group-append.--append-floating
											span#basic-addon1.input-group-text
												i.fas.fa-ellipsis-h
		include ../partials/foot

search.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Starter Kit</title>
    <link media="all" rel="stylesheet" href="assets/css/vendor.min.css">
    <link media="all" rel="stylesheet" href="assets/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700" rel="stylesheet">
  </head>
  <body class="view-search">
    <header>
      <div class="container-fluid">
        <nav class="navbar navbar-light"><a class="navbar-brand" href="#"><img src="/assets/images/logo-kiu.svg" width="auto" height="30" alt=""></a></nav>
      </div>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 searh-form__title">
            <h3 class="mb-0">Search Flights</h3>
          </div>
          <div class="col-12">
            <form class="row search-form">
              <div class="col-12">
                <div class="search-form__flight-type btn-group btn-group-toggle btn-block mb-3" data-toggle="buttons">
                  <label class="btn btn-sm btn-outline-secondary active">
                    <input id="option1" type="radio" name="options" autocomplete="off" checked=""> Round Trip
                  </label>
                  <label class="btn btn-sm btn-outline-secondary">
                    <input id="option2" type="radio" name="options" autocomplete="off"> One-Way
                  </label>
                  <label class="btn btn-sm btn-outline-secondary">
                    <input id="option3" type="radio" name="options" autocomplete="off"> Multi-Destination
                  </label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group --icon-append">
                  <label for="basic-url"><small>Departure Flight</small></label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-plane-departure"></i></span></div>
                    <input class="form-control" type="text" placeholder="Where from?" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group --icon-append">
                  <label for="basic-url"><small>Return Flight</small></label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-plane-arrival"></i></span></div>
                    <input class="form-control" type="text" placeholder="Where to?" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="col-6 pr-0">
                <div class="form-group --icon-append">
                  <label for="basic-url"><small>Return Flight</small></label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-day"></i></span></div>
                    <input class="form-control" type="text" placeholder="When from?" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="basic-url"><small>Return Flight</small></label>
                  <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="When from?" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group --icon-append">
                  <label for="basic-url"><small>Passengers and Class</small></label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span></div>
                    <input class="form-control" type="text" placeholder="1 Person, Economy" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="input-group-append --append-floating"><span class="input-group-text" id="basic-addon1"><i class="fas fa-ellipsis-h"></i></span></div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group --icon-append">
                  <label for="basic-url"><small>Currency</small></label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-chevron-circle-right"></i></span></div>
                    <input class="form-control" type="text" placeholder="1 Person, Economy" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="col-6 pr-0">
                <div class="form-group --icon-append">
                  <label for="basic-url"><small>Promo Code</small></label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-tag"></i></span></div>
                    <input class="form-control" type="text" placeholder="Insert Code" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="col-6 d-flex flex-row align-items-center">
                <button class="btn btn-primary btn-block">Search Flights</button>
              </div>
            </form>
          </div>
          <div class="col-12">
            <form class="row passengers-class-form">
              <div class="col-12">
                <div class="form-group --icon-append">
                  <label for="basic-url"><small>Passengers and Class</small></label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span></div>
                    <input class="form-control" type="text" placeholder="1 Person, Economy" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="input-group-append --append-floating"><span class="input-group-text" id="basic-addon1"><i class="fas fa-ellipsis-h"></i></span></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer class="text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col"><img src="assets/images/logo-kiu.svg" height="30">
            <p>Copyright © 2018. Todos los derechos reservados.</p>
            <!--a(href="http://www.kiusys.com", target="_blank")-->
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/vendor.min.js" defer=""></script>
    <script src="assets/js/app.js" defer=""></script>
  </body>
</html>
